.blue-headings {
    color: blue;
}
.red-headings {
    color:red
}
.turquoise-headings {
    color:turquoise
}
.seagreen-headings {
    color:seagreen
}
.orange-headings {
    color:orange
}
.yellow-headings {
    color:yellow
}
.purple-headings {
    color:purple
}
.plum-headings {
    color:plum
}

.td1 {
    background-color: rgb(237, 247, 42);
}
.td2 {
    background-color:rgb(115, 236, 78);
}
.td3 {
    background-color: rgb(32, 93, 190);
}
.td4 {
    background-color: rgb(222, 56, 56);
}


.td10 {
    background-color: rgb(237, 247, 62);
}
.td20 {
    background-color: rgb(237, 247, 82);
}
.td30 {
    background-color: rgb(237, 247, 102);
}
.td40 {
    background-color: rgb(237, 247, 122);
}
.td50 {
    background-color: rgb(237, 247, 142);
}
.td60 {
    background-color: rgb(237, 247, 162);
}
.td70 {
    background-color: rgb(237, 247, 182);
}
.td80 {
    background-color: rgb(237, 247, 202);
}


.td210 {
    background-color:rgb(115, 236, 98);
}
.td220 {
    background-color:rgb(115, 236, 118);
}
.td230 {
    background-color:rgb(115, 236, 138);
}
.td240 {
    background-color:rgb(115, 236, 158);
}
.td250 {
    background-color:rgb(115, 236, 178);
}
.td260 {
    background-color:rgb(115, 236, 198);
}
.td270 {
    background-color:rgb(115, 236, 218);
}
.td280 {
    background-color:rgb(115, 236, 238);
}


.td310 {
    background-color: rgb(32, 93, 160);;
}
.td320 {
    background-color: rgb(57, 109, 140);
}
.td330 {
    background-color: rgb(32, 93, 120);
}
.td340 {
    background-color: rgb(32, 93, 100);
}
.td350 {
    background-color: rgb(32, 93, 80);
}
.td360 {
    background-color: rgb(32, 93, 60);
}
.td370 {
    background-color: rgb(32, 93, 40);
}
.td380 {
    background-color: rgb(32, 93, 20);
}


.td410 {
    background-color: rgb(222, 56, 76);
}
.td420 {
    background-color: rgb(222, 56, 96);
}
.td430 {
    background-color: rgb(222, 56, 116);
}
.td440 {
    background-color: rgb(222, 56, 136);
}
.td450 {
    background-color: rgb(222, 56, 156);
}
.td460 {
    background-color: rgb(222, 56, 176);
}
.td470 {
    background-color: rgb(222, 56, 196);
}
.td480 {
    background-color: rgb(222, 56, 216);
}
